{{>header}}
{{>nav}}

    <form class="form" >
        <label for="">New Name</label>
        <br>
        <input type="text" name="name" id="">
               <br>
            <label for="">New email</label>
                   <br>
        <input type="text" name="email" id="">
                   <br>
            <label for="">New phone</label>
               <br>
        <input type="text" name="phone" id="">
                <br>
            <label for="">New msg</label>
              <br>
        <input type="text" name="msg" id="" class="form-check-input" >
        <br>
       <a href="/showAll" class="btn btn-danger">Edit</a>
    </form>
{{>footer}}