{{>header}}
{{>nav}}

    <form class="form m-5" >
        <label for="">New Name</label>
        <br>
        <input type="text" name="name" id="">
               <br>
            <label for="">New email</label>
                   <br>
        <input type="text" name="email" id="">
                   <br>
            <label for="">New phone</label>
               <br>
        <input type="text" name="phone" id="">
                <br>
            <label for="">New msg</label>
              <br>
        <input type="text" name="msg" id=""  >
        <br>
        <br>
         <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{{>footer}}